{% extends 'base.html' %}
{% load static %}

{% block title %}Attendance Records{% endblock %}
{% block content %}
{% if records %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">Course</th>
            <th scope="col">Event Type</th>
            <th scope="col">Start Time</th>
            <th scope="col">Duration (Hrs)</th>
        </tr>
    </thead>
    {% for session in records %}
    <tr>
        
            <td><a href="/session/{{session.id}}">{{ session.course.code }}: {{ session.course.title }}</td></a>
            <td>{{ session.get_event_type_display }}</td>
            <td>{{ session.start_time }}</td>
            <td>{{ session.duration }}</td>
        </a>
    </tr>
    {% endfor %}
</table>
{% else %}
<b>No attendance records found for staff</b>
{% endif %}
{% endblock %}