{% extends 'base.html' %}
{% load static %}

{% block title %}Attendance Records{% endblock %}
{% block content %}

{% if messages %}
{% for message in messages %}
<p>{{ message }}</p>
{% endfor %}
{% endif %}

{% if records %}
<h3 class="mx-auto">Attendance Records</h3>
<table class="table text-light">
    <thead>
        <tr>
            <th scope="col">Course</th>
            <th scope="col">Event Type</th>
            <th scope="col">Start Time</th>
            <th scope="col">Duration (Hrs)</th>
            <th scope="col">Event Status</th>

        </tr>
    </thead>
    {% for session in records %}
    <tr>

        <td>
            {% if session.status == 2 %}
            <a href="/session/{{session.id}}">
            {{ session.course.code }}: {{ session.course.title }}
            </a>
            {% else %}
            <p>{{ session.course.code }}: {{ session.course.title }}</p>
            {% endif %}
        </td>
        <td>{{ session.get_event_type_display }}</td>
        <td>{{ session.start_time }}</td>
        <td>{{ session.duration }}</td>
        <td>{{ session.get_status_display }} {% if session.status == 1 %}<a href="/session/{{session.id}}/end">| end session</a>{% endif %}</td>
        </a>
    </tr>
    {% endfor %}
</table>
{% else %}
<b>No attendance records found for staff</b>
{% endif %}
{% endblock %}